@charset 'UTF-8';


*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    background-image: url(https://images.pexels.com/photos/764681/pexels-photo-764681.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#tela {
    background-color: rgba(255, 255, 255, 0.267);
    height: 400px;
    width: 300px;
    text-align: center;
    padding: 20px;
    border-radius: 10px; 
   
}

h1{
    font-family: cursive;
    font-size: 4em;
    font-weight:bold;
}

input{
    padding: 20px;
    border-radius: 10px;
    border: none;
    margin-top: 50px;
    cursor: pointer;
}

input:hover{
    background-color: rgba(128, 128, 128, 0.486);

}